*{
    margin: 0;
    padding: 0;
}

                    /*Css du Simple*/

#container{
    text-align: center;
    font-size: 300%;
    margin: 40vh 10vw;
}

#para{
    background: black;
    color: white;
    padding: 2% 2px;
    border-radius: 15px;
    width: 100%;
}

#btn{
    padding: 2%;
    font-size: 30px;
    border-radius: 30px;
    background: rgba(0,0,0,0);
    margin-top: 20px;
}

                        /*css de Hex*/